.container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 128px;
}

.metadataContainer {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  vertical-align: inherit;
  display: flex;
  max-width: 100%;
}

.listingContainer {
  flex-shrink: 1;
  position: sticky;
  width: 100%;
  min-width: 370px;
  max-width: 450px;
  margin-top: 16px;
  margin-right: 16px;
}

.image {
  border-radius: 16px;
  width: 100% !important;
  height: auto !important;
  background-color: rgba(255, 255, 255, 0.04);
}

.contractMetadataContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.collectionImage {
  width: 32px !important;
  height: 32px !important;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.collectionName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  margin: 0px;
  margin-left: 16px;
  margin-right: 16px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  hyphens: auto;
  overflow-wrap: break-word;
  margin-bottom: 4px;
  margin-left: 16px;
  margin-right: 16px;
}

.nftOwnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 24px;
  gap: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.nftOwnerImage {
  margin-top: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.9;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.nftOwnerInfo {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 16px;
}

.label {
  color: rgba(255, 255, 255, 0.6);
  margin: 0px;
  margin-bottom: 4px;
}

.nftOwnerAddress {
  font-weight: 600;
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}

.descriptionContainer {
  padding-left: 16px;
  padding-right: 16px;
}

.descriptionTitle {
  margin-top: 32px;
}

.traitsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 12px;
}

.traitContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  min-width: 128px;
  border-radius: 16px;
  min-height: 32px;
}

.eventsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  min-width: 128px;
  border-radius: 16px;
  min-height: 32px;
}

.traitValue {
  font-weight: 600;
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}

.traitName {
  font-weight: 400;
  margin: 0px;
  color: rgba(255, 255, 255, 0.6);
}

.eventContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.txHashArrow {
  width: 24px;
  height: 24px;
  padding: 8px;
}

.claimButton {
  display: inline-block;
  width: calc(100% - 32px);
  padding: 12px 20px;
  margin: 16px;
  background-color: #3498db;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.claimButton:hover {
  background-color: #2980b9;
}

@media (max-width: 960px) {
  .container {
    flex-direction: column;
    padding-bottom: 128px;
  }

  .listingContainer {
    position: relative;
    width: 100%;
    min-width: 0px;
    max-width: 100%;
    top: 0px;
  }

  .metadataContainer {
    margin-top: 32px;
  }
}
